* {
    margin: 0;
    padding: 0;
}

.navbar-first ul {
    background: #3498db;
    padding: 10px 25px;
    border-radius: 30px;
}

.navbar-first ul li {
    display: inline-block;

}


.navbar-first ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    list-style: none;
    display: inline-block;
    background: #fff;
    padding: 7px;
    margin-right: 10px;
    font-size: 15px;
    border: 2px solid white;
    transition: 0.5s;

}



.navbar-first ul li a:hover {
    border-color: black;
    background: red;
    color: gold;
}

.navbar-first ul li:first-child a {
    background: grey;
}

.navbar-first ul li:last-child {
    float: right;
    margin-top: 4px;
    color: black;
    font-size: 25px;
}

.navbar-first ul li:nth-child(2) a {
    border: 2px dashed black;
    border-width: 2px;
    border-top:inherit ;
    border-bottom:inherit ;
    border-width:10px ;

}

.navbar-first ul li:nth-child(3) a {
    border: 2px solid green;
    border-top-right-radius:35px;
    border-left-color: black;
    border-right-color: #3498db;
 

}

.navbar-first ul li:nth-child(4) a {
    border: 2px dotted black;
    background: green;
}